.style1 {
    background: rgb(240, 166, 200);
    width: 600px;
    }
.style2 {
    background: yellow;
    width: 300px;
    height: 200px;
}

.style3 {
    background: rgb(212, 107, 47);
    width: 1000px;
}